.cohort {
    padding: 100px 0;
    .container {
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: start;
    }
    .title {
        text-align: center;
        max-width: 571px;
        h2 {
            font-size: 44px;
        }
        span { 
            font-size: 16px;
        }
    }
    .row {
        height: 250px;
        width: 100%;
        box-shadow: 0px 10px 20px #1D1D1D1A;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 45px;
        margin: 55px 0 0 0;
        .index {
            width: 30%;
            display: flex;
            flex-direction: column;
            .subTitle {
                font-size: 16px;
            }
            .date {
                font-size: 35px;
            }
            .places {
                font-size: 16px;
            }
        }
        .icon {
            width: 20%
        }
        .text {
            width: 40%;
            h3 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
        }
        .btn {
            width: 30%;
            button {
                padding: 10px 40px;
                border: 1px solid #6C30DB;
                background-color: #6C30DB;
                color: white;
            }
        }
    }
}

