.maps {
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 642px;
        z-index: 1;
        background-color: violet;
        position: relative;
        overflow: hidden;
    }
    .container {
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        height: 100%;
        justify-content: end;
        z-index: 3;
    }
    .box {
        max-width: 550px;
        background: radial-gradient(circle at right bottom, rgba(136, 66, 189, 1) 0%, rgba(52, 27, 97, 1) 100%);
        width: 100%;
        height: auto;
        padding: 40px;
        p {
            color: white;
            margin: 23px 0 0 0;
        }
        .boxbox {
            display: flex;
            align-items: center;
            padding: 0 0 22px 0;
            border-bottom: 2px solid grey;
            .circle {
                width: 75px;
                height: 75px;
                background-color: grey;
                border-radius: 50%;
                margin-right: 25px;
            }
            .text {
                color: white;
                margin-right: 30px;
                span {
                    font-size: 16px;
                }
                h3 {
                    font-size: 22px;
                }
            }
        }
    }
}