.blog {
    background-color: transparent;
    position: absolute;
    width: 100%;
    .container {
        max-width: 1100px;
        display: flex;
        flex-wrap: wrap;
        margin: auto; 
    }
    h1 {
        color: white;
    }
    &__nav {
        margin-left: auto;
        a {
            color: white !important;
        }
    }
}